*{
    box-sizing: border-box;
}
body {
    background-image: url('https://cdn.wallpapersafari.com/7/81/rupZyA.jpg');
    padding: 0px;
    margin: 0px;
}

.container {
    font-family: 'Montserrat', 'sans-serif' , Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    height: 653px;
    border: 4px solid burlywood;
    display: flex;
}

.lbox {
    border: 2px solid grey;
    background-color: #363740;
    width: 200px;
    height: 645px;
}

.logo {
    float: left;
}

#logo {
    width: 35%;
    height: 10%;
    padding: 14px;
    margin-left: 10%;
    margin-top: 1%;
    filter: invert();
}

#profilepic {
    margin-left: 40%;
    margin-top: 7%;
    border-radius: 25px;
    width: 40px;
    height: 40px;
}
.lbox li{
  list-style: none;
}
.lbox li a{
    color: gray;
    font-size: 13px;
    line-height: 1.3em;
    text-decoration: none;
}
.lbox li a:hover{
    color: rgb(28, 121, 197);
    text-decoration: underline;
}
.icon{
    width: 20px;
    filter: invert();
    padding-right: 10px;
}

.rbox{
    width: 90%  ;
    height: 645px ;
    border: 2px solid red;
    background-color: #759892d4;
    margin-left: 1px; 
}
h2{
    width: 20px;
    color: white;
    font-size: 16px;
}
h4{
    text-align: center;
    color: white;
    font-size: 13px;
    margin: 4px;
}
h5{
    text-align: center;
    color: grey;
    font-size: 12px;
    margin: 5px;
}